<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://segelferien.de"
    Header set Access-Control-Allow-Origin "https://www.segelferien.de"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>
